@font-face {
  font-family: 'VL-Gothic-Regular';
  src: './fonts/VL-Gothic-Regular.woff';
}
body {
  -webkit-user-select: none;
  background-color: #fff;
  font-family: 'VL-Gothic-Regular', Avenir , "Open Sans" , "Helvetica Neue" , Helvetica , Arial , Verdana , Roboto , "游ゴシック" , "Yu Gothic" , "游ゴシック体" , "YuGothic" , "ヒラギノ角ゴ Pro W3" , "Hiragino Kaku Gothic Pro" , "Meiryo UI" , "メイリオ" , Meiryo , "ＭＳ Ｐゴシック" , "MS PGothic" , sans-serif;
  margin: 0;
  overflow: hidden;
}

.content {
  background-color: #fdfdfd;
  padding-top: 40px;
  height: 100%;
  box-sizing: border-box;
  flex-grow: 1;
}


.list {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  align-items: flex-start;
  flex-basis: 200px;
  background-color: #fdfdfd;
}

.tree {
  margin:0;
  padding: 0;
  background-color: #eee;
  width: 100%;
  height: 100%;
  overflow: auto;
  color: #666;
}
.tree-item {
  font-size: 12px;
  width: 100%;
  height: 30px;
  border: 0;
  list-style: none;
}

.tree-link {
  display: block;
  width: 100%;
  height: 100%;
  line-height: 20px;
  text-decoration: none;
  padding-top: 8px;
  padding-left: 10px;
  cursor: pointer;
  box-sizing: border-box;
}


.items {
  margin: 0px;
  padding: 0px;
  flex-grow: 4;
  background-color: #fdfdfd;
  height: 100%;
  overflow: auto;
}

.item {
  user-select: none;
  font-size: 12px;
  width: 100%;
  height: 60px;
  border-top: 0px;
  border-bottom: 1px solid #ddd;
  list-style: none;
}

.item-link {
  display: block;
  width: 100%;
  height: 100%;
  color: #666;
  text-decoration: none;
  padding-left: 0px;
}

.item-pin {
  color: #666;
  float: right;
  height: 100%;
  line-height: 57px;
  cursor: pointer;
  padding-right: 10px;
  width: 10px;
}

.item-pin i{
  font-size: 14px;
  line-height: 57px;
  cursor: pointer;
}
.item-pin.on i{
  color: #f66;
  display: block;
}
.item-pin.off i{
  display: none;
  -webkit-transform: rotate(45deg);
}
.item-pin.off:hover i{
  display: block;
}

.item-link-title {
  display: inline-block;
  color: #666;
  font-size: 12px;
  border-top: 0px;
  list-style: none;
  padding-top: 13px;
  margin-left: 20px;
}

.item-link-info {
  color: #e5e5e5;
  font-size: 12px;
  border-top: 0px;
  list-style: none;
  padding-top: 2px;
  width: 90%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-left: 20px;
}

.item-link-ctime {
  float: right;
  display: inline-block;
  background-color: #efefef;
  color: #666;
  border-radius: 3px;
  line-height: 20px;
  padding-left: 10px;
  padding-right: 10px;
  margin-top: 10px;
  margin-right: 12px;
  /*box-shadow:1px 1px 8px -2px #000 inset;*/
}
.item-link-body {
  line-height: 20px;
  color: #aaa;
}

.header {
  /* z-index: Resizable Componentの上にするため必要 */
  z-index: 10;
  box-shadow: 0 0 5px #666;
  height: 40px;
  background-color: #eee;
  color: #666;
  text-align: right;
  position: fixed;
  width: 100%;
  top: 0px;
  border: 0;
  text-align: center;
}

.header-title {
  display: inline-block;
  line-height: 40px;
  width: 50%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  left: -10px;
}

.header-group-left {
  float: left;
  width: 60px;
  margin: 0px;
  padding: 0px;
  padding-left: 10px;
}
.header-group-right {
  float: right;
  width: 60px;
  margin: 0px;
  padding: 0px;
  padding-right: 10px;
}

.header-items {
  padding:0px;
  margin:0px;
}
.header-item{
  display: inline-block;
  list-style: none;
  float: left;
  width: 30px;
  line-height: 40px;
  cursor: pointer;
}

.header-item-link {
  font-size: 20px;
  width: 50px;
  line-height: 45px;
  cursor: pointer;
  display: block;
  height: 100%;
  width: 100%;
  color: #666;
  text-decoration: none;
  line-height: 40px;
}

.header i {
  font-size: 16px;
  display: inline-block;
  line-height: 40px;
  padding-right: 16px;
  cursor: pointer;
}

.keyword {
  margin-top: 5px;
  width: 50%;
  height: 30px;
  border: 0;
  border-radius: 3px;
  padding-left: 10px;
  box-shadow:1px 1px 5px -2px #000 inset;
  font-size: 12px;
  background-color: #fdfdfd;
  color: #666;
}

.keyword:focus {
  outline: none !important;
  border:0px solid;
}

.editor {
  display: flex;
  flex-direction: column;
  flex-basis: 100px;
  height: 100%;
}

.editor-input-contents {
  font-family: "VL-Gothic-Regular", "Osaka−等幅","Osaka-Mono";
  font-size: 12px;
  background-color: #fdfdfd;
  padding: 15px;
  color: #666;
  line-height: 20px;
  border:0px solid;
  width: 100%;
  box-sizing: border-box;
  flex-grow: 9;
  overflow: scroll;
}

.editor-input-contents:focus {
    outline: none !important;
    border:0px solid;
}

.editor-input-path {
  font-size: 12px;
  font-family: "VL-Gothic-Regular", "Osaka−等幅","Osaka-Mono";
  background-color: #fdfdfd;
  width: 100%;
  height: 15px;
  padding: 15px;
  color: #666;
}

.editor-input-path:focus {
  outline: none !important;
}

