@font-face {
  font-family: 'VL-Gothic-Regular';
  src: './fonts/VL-Gothic-Regular.woff';
}

body {
  -webkit-font-smoothing: antialiased;
  -webkit-user-select: none;
  background-color: #fff;
  font-family: 'VL-Gothic-Regular', Avenir , "Open Sans" , "Helvetica Neue" , Helvetica , Arial , Verdana , Roboto , "游ゴシック" , "Yu Gothic" , "游ゴシック体" , "YuGothic" , "ヒラギノ角ゴ Pro W3" , "Hiragino Kaku Gothic Pro" , "Meiryo UI" , "メイリオ" , Meiryo , "ＭＳ Ｐゴシック" , "MS PGothic" , sans-serif;
  margin: 0;
  overflow: hidden;
}

.content {
  background-color: #fefefe;
  padding-top: 40px;
  height: 100%;
  box-sizing: border-box;
  flex-grow: 1;
}


.list {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  align-items: flex-start;
  flex-basis: 200px;
  background-color: #fefefe;
}

.tree {
  margin:0;
  padding: 0;
  background-color: #eee;
  width: 100%;
  height: 100%;
  overflow: auto;
  color: #333;
  -webkit-user-select: none;
}

.tree-item {
  font-size: 12px;
  width: 100%;
  height: 30px;
  border: 0;
  list-style: none;
}

.tree-link {
  display: block;
  width: 100%;
  height: 100%;
  text-decoration: none;
  padding-top: 8px;
  padding-left: 10px;
  cursor: pointer;
  box-sizing: border-box;
}

.tree-link.active, .tree-link:hover {
  background-color: #fefefe;
}

.tree-link-title {
  display: inline-block;
  width: 80%;
  white-space: pre;
  overflow: hidden;
  text-overflow: ellipsis;
}
.tree-link-item-size {
  text-align: center;
  display: inline-block;
  float: right;
  margin-right: 10px;
  background-color: #fefefe;
  color: #999;
  border-radius: 4px;
  width: 15px;
  padding: 2px;
}

.list-contents {
  display: flex;
  flex-direction: column;
  flex-grow: 4;
  height: 100%;
}
.list-current-dir {
  background-color: #efefef;
  flex-basis: 25px;
  flex-grow: 0;
  font-size: 12px;
  padding-left: 20px;
  padding-right: 10px;
  padding-top: 10px;
}

.list-current-dir i {
  cursor: pointer;
  float: right;
}

.items {
  flex-grow: 4;
  margin: 0px;
  padding: 0px;
  background-color: #fefefe;
  height: 100%;
  overflow: auto;
  border-top: 1px solid #ddd;
}

.item {
  font-size: 12px;
  width: 100%;
  height: 60px;
  border-top: 0px;
  border-bottom: 1px solid #ddd;
  list-style: none;
}

.item-link {
  display: block;
  width: 100%;
  height: 100%;
  color: #333;
  text-decoration: none;
  padding-left: 0px;
}

.item-pin {
  color: #333;
  float: right;
  height: 100%;
  line-height: 57px;
  cursor: pointer;
  padding-right: 10px;
  width: 10px;
}

.item-pin i{
  font-size: 14px;
  cursor: pointer;
  margin-top: 12px;
  -webkit-transform: rotate(45deg);
}
.item-pin.on i{
  display: block;
}
.item-pin.on.red {
  color: #f99;
}
.item-pin.on.blue {
  color: #99f;
}
.item-pin.off i{
  color: #aaa;
  display: none;
}
.item-pin.off:hover i{
  display: block;
}

.item-link-title {
  display: inline-block;
  color: #333;
  font-size: 12px;
  border-top: 0px;
  list-style: none;
  padding-top: 13px;
  margin-left: 20px;
  width: 60%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.item-link-info {
  color: #e5e5e5;
  font-size: 12px;
  border-top: 0px;
  list-style: none;
  padding-top: 2px;
  width: 90%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-left: 20px;
}

.item-link-key {
  display: inline-block;
  background-color: #efefef;
  color: #aaa;
  border-radius: 4px;
  line-height: 20px;
  padding-left: 4px;
  padding-right: 4px;
  margin-right: 10px;
}

.item-link-ctime {
  float: right;
  display: inline-block;
  background-color: #efefef;
  color: #666;
  border-radius: 3px;
  line-height: 20px;
  padding-left: 10px;
  padding-right: 10px;
  margin-top: 10px;
  margin-right: 12px;
}
.item-link-body {
  line-height: 20px;
  color: #aaa;
}

.header {
  /* z-index: Resizable Componentの上にするため必要 */
  z-index: 10;
  box-shadow: 0 0 5px #333;
  height: 40px;
  background-color: #eee;
  color: #333;
  text-align: right;
  position: fixed;
  width: 100%;
  top: 0px;
  border: 0;
  text-align: center;
}

.header-title {
  display: inline-block;
  line-height: 40px;
  width: 50%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  left: -10px;
}

.header-group-left {
  float: left;
  margin-bottom: 0;
  margin-left: 20px;
  margin-right: 0;
  margin-top: 0;
  padding: 0;
  text-align: left;
  width: 120px;
}

.header-group-right {
  float: right;
  margin-bottom: 0;
  margin-left: 20px;
  margin-right: 0;
  margin-top: 0;
  padding: 0;
  text-align: right;
  width: 120px;
}

.header-items {
  padding:0px;
  margin:0px;
}

.header-item{
  display: inline-block;
  list-style: none;
  width: 30px;
  line-height: 40px;
  cursor: pointer;
}

.header-item-link {
  font-size: 20px;
  width: 50px;
  line-height: 45px;
  cursor: pointer;
  display: block;
  height: 100%;
  width: 100%;
  color: #333;
  text-decoration: none;
  line-height: 40px;
}

.header i {
  font-size: 16px;
  display: inline-block;
  line-height: 40px;
  padding-right: 16px;
  cursor: pointer;
}

.keyword {
  margin-top: 5px;
  width: 50%;
  height: 30px;
  border: 0;
  border-radius: 3px;
  padding-left: 10px;
  box-shadow:1px 1px 5px -2px #000 inset;
  font-size: 12px;
  background-color: #fefefe;
  color: #333;
}

.keyword:focus {
  outline: none !important;
  border:0px solid;
}

.editor {
  display: flex;
  flex-direction: column;
  height: 100%;
  align-self:stretch;
}

/* .flex-child にも display: flex を指定し、 .flex-grandchildren から　height: 100% を取り除くことで回避可能です。*/
.contents-editor {
  position: relative;
  flex: 1 0 10px;
  display: flex; /* NOTE: flex-grandchild heigth 100% */
}
.path-editor {
  flex: 0 0 40px;
}

/*
 * rich-textarea
 */
.rich-textarea {
  box-sizing: border-box;
  width: 100%
}
.editor-bg {
  position: absolute;
  height: 100%;
  width: 100%;
  pointer-events: none;
  z-index: 5;
}
.editor-fg {
  position: absolute;
  height: 100%;
  width: 100%;
}

.editor-input-contents {
  background-color: #fefefe;
  border-width: 0;
  box-sizing: border-box;
  font-family: "VL-Gothic-Regular", "Osaka−等幅","Osaka-Mono";
  font-size: 12px;
  height: 100%;
  line-height: 20px;
  overflow-y: scroll;
  padding: 15px;
  resize: none;
  width: 100%;
}
.editor-input-contents.active {
  color: #444;
}
.editor-input-contents.disable {
  color: rgba(0,0,0,0);
}

.editor-input-contents:focus {
    outline: none !important;
    border:0px solid;
}
.editor-cover-contents {
  background-color: transparent;
  border-width: 0;
  box-sizing: border-box;
  font-family: "VL-Gothic-Regular", "Osaka−等幅","Osaka-Mono";
  font-size: 12px;
  height: 100%;
  line-height: 20px;
  overflow-y: scroll;
  padding: 15px;
  white-space: pre-wrap;
  word-wrap: break-word;
}
.editor-cover-contents::-webkit-scrollbar {
  display: none;
}
.editor-cover-contents.disable {
  color: rgba(0,0,0,0.0);
}
.editor-cover-contents.active {
  color: #444;
}

/*cover-contents-item*/
.editor-cover-contents-url {
  color: #66f;
}
.editor-cover-contents-url.active {
  pointer-events: auto;
  text-decoration: none;
}
.editor-cover-contents-url.active:hover {
  pointer-events: auto;
  text-decoration: underline;
}
.editor-cover-contents-url.disable {
  pointer-events: none;
  text-decoration: none;
}
/*
 * /rich-textarea
 */

.path-editor {
  border-top; 1px solid;
}

.editor-input-path {
  border-width: 0;
  border-top-width: 1px;
  background-color: #fefefe;
  box-sizing: border-box;
  color: #333;
  font-family: "VL-Gothic-Regular", "Osaka−等幅","Osaka-Mono";
  font-size: 12px;
  padding: 15px;
  width: 100%;
}
.editor-input-path:focus {
  outline: none !important;
}

.help-cover {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.5);
  z-index: 11;
}

.qr-window {
  width: 300px;
  height: 400px;
  background-color: #fefefe;
  color: #333;
  z-index: 12;
  box-shadow: 0 0 5px #000;
  position: absolute;
  margin: auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.help {
  position: fixed;
  top: 5%;
  left: 5%;
  width: 90%;
  height: 90%;
  background-color: #fefefe;
  color: #333;
  z-index: 12;
  box-shadow: 0 0 5px #000;
}

.help-contents dt, .help-contents dd {
  line-height: 30px;
}
.help-contents dt {
  width: 200px;
  float: left;
  clear: both;
}

.help-title {
  font-size: 16px;
}

.help-contents {
  font-size: 14px;
  padding: 20px;
}

.help-close {
  float: right;
  margin-right: 10px;
  margin-top: 10px;
  cursor: pointer;
}

.footer-bar {
  cursor: pointer;
  background-color: rgba(200, 200,200, 0.3);
  border-radius: 0 4px;
  border-right: 1px solid #dfdfdf;
  border-top: 1px solid #dfdfdf;
  bottom: 0px;
  content: 'hohooge';
  font-size: 12px;
  left: 0px;
  padding: 5px;
  position: absolute;
}

